.ballena-franca {
    max-width: 300px;
    margin: 40px auto;
    color: var(--negro);
   
    border-radius: 8px;
    border: 1px solid var(--gris);
    text-align: left;
}
.ballena-franca img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    max-width: 300px;

}
.franca-info{
    padding: 8px 16px 24px;
}
.franca-info p {
    color: var(--gris);
    margin-bottom: 8px;
}
.franca-detalles{
    font-weight: bold;
    color: var(--negro);
}
.mas info{
    background-color: var(--celeste);
    padding: 4px 8px;
    border-radius: 20px;
    display: inline-block;
}